<title>Blog2Kindle</title>


<div class="hero-unit">
  <h1>Blog Posts to Kindle</h1>
  <p>Download posts from your favorite blogs and read them on your kindle.</p>
</div>
<%= link_to 'Home', page_path('index') %>
<%= link_to 'About', page_path('about') %>
