<div class="control-group">
  <%= f.label :search_type, "Search via CSS", class: "control-label" %>
  <div class="controls">
    <%= f.radio_button(:search_type, "CSS") %>
  </div>
</div>
<div class="control-group">
  <%= f.label :search_type, "Search via URL", class: "control-label" %>
  <div class="controls">
    <%= f.radio_button(:search_type, "URL") %>
  </div>
</div>

