<h1>Ebook#Index</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>URL</th>
      <th>HTML File</th>
      <th>Ebook</th>
    </tr>
  </thead>
  <tbody>
    <% @ebooks.each do |ebook| %>
      <tr>
        <td><%= ebook.id %></td>
        <td><%= ebook.site.url %></td>
        <% if ebook.site.filename.blank? %>
          <td>Unavailable</td>
        <% else %>
          <td><%= link_to 'Download', download_site_path(ebook.site.id) %></td>
        <% end %>
        <% if ebook.location.blank? %>
          <td>Unavailable</td>
        <% else %>
          <td><%= link_to 'Download', download_ebook_path(ebook.id) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>

</table>

