<h1>Ebook#Index</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>URL</th>
      <th>HTML File</th>
      <th>Ebook</th>
    </tr>
  </thead>
  <tbody>
    <% @ebooks.each do |ebook| %>
      <tr>
        <td><%= ebook.site.id %></td>
        <td><%= ebook.site.url %></td>
        <td><%= link_to 'Download', ebook.site.filename %></td>
        <td><%= link_to 'Download', ebook.location %></td>
      </tr>
    <% end %>
  </tbody>

</table>

